<script>
    {# Make the configuration from this bundle available in javascript. #}
    var dynamicPageParams = {
        alwaysEnabled: '{{ always_enabled }}',
        menuActiveClass: '{{ menu_active_class }}',
    };
</script>
<script src="{{ asset('bundles/raresdynamicpage/js/scripts.js') }}"></script>
