/**
 * Part of this CSS file is from Drupal 8 stable theme, used under GPL.
 */

.ajax-progress {
  display: inline-block;
  padding: 1px 5px 2px 5px;
}
.ajax-progress-throbber .throbber {
  background: transparent url('../images/throbber-active.gif') no-repeat 0px center;
  display: inline;
  padding: 1px 8px 2px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.loader .loader-icon {
    width: 100%;
    height: 100%;
    background: url("../images/loader.gif") center center no-repeat;
}
